/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

.right {
	position: relative;
	float: center;
	text-align: center;
	background-color:white;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 1000px;
	margin-top: 100px;
	margin-bottom: 10px;
	box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
	padding-top: 10px;
	color: #818486;
	z-index: 10;
	opacity: .96;
}

.title-container {
	width: 300px;
	height: 100px;	
	position: relative;
	margin-left: auto;
	margin-right: auto;
	float: center;
	text-align: center;
	color: white;
}

.title {
	font-size: 40px;
	padding-top:100px;
	color: white;
}

.table {
	margin-top: 20px;
	position: relative;
	float: center;
	margin-left: auto;
	margin-right: auto;
}

.full_image {
	margin-top: -40px;
	margin-left: -20px;
	position: relative;
	background-image:url('./san_fran_streets.png');
	background-repeat:no-repeat;
	height:2000px;
	width:auto;
	min-height: 50%;
	z-index: 1;
	background-attachment:fixed;
}

#embedded-image-div {
	background-color: white;
	margin-top: -10px;
	margin-left: 65px;
	height:2px;
	width:190px;
}



th {
	width: 75px;
}
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: #fff;
    background-color: #000; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square; }
