.right {
	position: relative;
	float: center;
	text-align: center;
	background-color:white;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 1000px;
	margin-top: 100px;
	margin-bottom: 10px;
	box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
	padding-top: 10px;
	color: #818486;
	z-index: 10;
	opacity: .96;
}

.title-container {
	width: 300px;
	height: 100px;	
	position: relative;
	margin-left: auto;
	margin-right: auto;
	float: center;
	text-align: center;
	color: white;
}

.title {
	font-size: 40px;
	padding-top:100px;
	color: white;
}

.table {
	margin-top: 20px;
	position: relative;
	float: center;
	margin-left: auto;
	margin-right: auto;
}

.full_image {
	margin-top: -40px;
	margin-left: -20px;
	position: relative;
	background-image:url('https://s3.amazonaws.com/byliner-ping-pong/san_fran_streets.png?AWSAccessKeyId=ASIAJ7UCOARJHRQ7KBZQ&Expires=1390451451&Signature=SFaiPlgEuaNAloAl6rklqJ10X6k%3D&x-amz-security-token=AQoDYXdzECYawALfaAfNuEeZKjayu7o27xvoGrHOb9rsrrCLts5nVdHIT6kqettu6BIhLgcR%2ByBtydGJ8csaEamx0sT1J4M4PT3abEtEnLruxeoeFcSzLra28j9ckZRunGpXqRISPGzdbe43YnIZUsbg13AOj/Z7iWGIs3HC7/mOEo3F/YjKlq%2BdL7E3qo21MH2%2BoHnjxCxDepQZNOHaK5V6T8a0Oh4faGMVWc6Ll%2BG%2B0M1LMIQ2/NEGVYLv0mNgeaqgZvbM7DHhcgrh26AKAKcEsHy6YrbTl1kLQazxOMkTaOkVvDiQVyPatrCy6i1Oes/J3p/xyqB649S8/j/CGWUpWiCUl2iM8WQ0XnaT%2BoSZDKgl8Uofz3FJ1lSpQOBggq9hUFbh6UR5ODhVySSyYP/J45lP3vXUd8mSCJ1n7q096JBVO1MXVrRhmyDasoKXBQ%3D%3D');
	background-repeat:no-repeat;
	height:2000px;
	width:auto;
	min-height: 50%;
	z-index: 1;
	background-attachment:fixed;
}

#embedded-image-div {
	background-color: white;
	margin-top: -10px;
	margin-left: 65px;
	height:2px;
	width:190px;
}



th {
	width: 75px;
}